DOCKERHUB_TOKEN=
DOCKERHUB_USERNAME=

REDIS_URL=""
SESSION_SECRET=""
DATABASE_URL=""


PORT=3000
AWS_ACCESS_KEY=""
AWS_SECRET=""
AWS_REGION=""
AWS_BUCKET_NAME=""

PRISMA_OPTIMIZE_API_KEY=""

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""